@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200;0,400;0,600;0,700;1,300&display=swap');

html, body, .app, .content, #root{
  height: 100%;
  width: 100%;
  font-family: 'Source Sans 3', sans-serif;
}

.app{
  display: flex;
  position: relative;
}

::-webkit-scrollbar{
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track{
  background: #e0e0e0;
}

/* Handle */
::-webkit-scrollbar-thumb{
  background: #888;
}

/* Handle */
::-webkit-scrollbar-track:hover{
  background: #555;
}
